<div class="main-content">
  <mat-drawer-container class="drawer-container" autosize>
    <div class="div-logo" style="margin-bottom: 30px; margin-top: 15vh">
      <img class="img-logo" [src]="appConfig.getAppLogo()"/>
    </div>

    <div class="div-controls-menu">
      <button mat-raised-button
              class="btn-save margin-bottom pink-button"
              (click)="onManger('customers')">
        customer manager
      </button>
      <button mat-raised-button
              class="btn-save margin-bottom pink-button"
              (click)="onManger('products')">
        products manager
      </button>
      <button mat-raised-button
              class="btn-save margin-bottom pink-button"
              (click)="onManger('orders')">
        orders manager
      </button>
    </div>
  </mat-drawer-container>

  <!-- Dacă ai rute copii pentru products-manager etc. -->
  <router-outlet></router-outlet>
</div>
