<mat-drawer-container class="drawer-container" autosize>


    <div style="display: flex; margin-bottom: 30px; margin-top: 15vh">
      <img class="img-logo" [src]="appConfig.getAppLogo()"/>
    </div>

    <div class="div-controls-menu">
      <button mat-raised-button color="primary" class="btn-save margin-bottom" (click)="onManger('customers')">{{ 'Customer Manager' | titlecase }}</button>
      <button mat-raised-button color="primary" class="btn-save margin-bottom" (click)="onManger('products')">{{ 'Products Manager' | titlecase }}</button>
      <button mat-raised-button color="primary" class="btn-save margin-bottom" (click)="onManger('orders')">{{'Orders Manager' | titlecase }}</button>
    </div>


</mat-drawer-container>

