<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="over">
    <div style="display: flex; justify-content: flex-end; padding: 1rem;">
      <button mat-icon-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="div-logo">
      <img class="img-logo" [src]="appConfig.getAppLogo()" />
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>{{ customerService.getLoggedUser() == null ? 'Login': 'Logout' }}</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>


  <div class="drawer-sidenav-content">


    <mat-toolbar class="fixed-header" style="background-color: #9B9B7A; color: white;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ appConfig.getAppName() }}</span>
      <span class="example-spacer"></span>
      <app-cart-button></app-cart-button>
    </mat-toolbar>

    <div class="hero-video-section">
      <video class="hero-video" autoplay loop muted playsinline #heroVideo> <source src="assets/videos/hero_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1 class="hero-title">Blooming Garden</h1>
        <p class="hero-subtitle">Fresh Flowers for Every Occasion</p>
      </div>
    </div>
    <div class="main-content">
      <div class="container">
        <div class="banners-container">
          <mat-card *ngFor="let banner of banners" class="banner-card">
            <img [src]="banner.imageUrl" alt="Promotional banner" class="banner-image" />
            <button mat-raised-button color="primary" class="banner-button" (click)="navigateTo(banner.redirectUrl)">
              {{ banner.buttonText }}
            </button>
          </mat-card>
        </div>
      </div>
    </div>

  </div>

  <div class="about-us-video">
    <video autoplay loop muted playsinline>
      <source src="../../assets/videos/about-us.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="video-overlay-content">
      <h3 class="video-overlay-title">Blooming Garden: Where every bloom tells a story.</h3>
      <p class="video-overlay-subtitle">Welcome to Blooming Garden, your sanctuary for all things floral. We believe that every petal holds a promise, every bloom a story. Our passion is to bring the freshest, most vibrant flowers directly to you, making every moment — big or small — unforgettable. We're more than just a flower shop; we're cultivators of joy, dedicated to helping you express yourself through the timeless language of flowers.</p>
    </div>
  </div>

  <div class="newsletter-section">
    <app-newsletter-subscription>

    </app-newsletter-subscription>
  </div>


</mat-drawer-container>
