<mat-drawer
  class="drawer-sidenav"
  mode="over"
  [opened]="open"
  (keydown.escape)="closeSidebar.emit()"
  disableClose
>
  <div class="sidebar-header">
    <button mat-icon-button (click)="closeSidebar.emit()" class="close-button" aria-label="Close sidebar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="sidebar-content-wrapper">
    <div class="logo-section">
      <img class="img-logo" [src]="appLogo" alt="App Logo" *ngIf="appLogo" />
    </div>

    <nav class="menu-section">
      <a class="menu-item main-title" (click)="handleNavigation('home')">{{ appOwner || 'Blooming Garden' }}</a>
      <a class="menu-item" *ngIf="isAdmin && loggedInUser" (click)="handleDashboardClick()">DASHBOARD</a>

      <a class="menu-item" (click)="handleNavigation('products')">PRODUCTS</a>

      <a class="menu-item" (click)="handleLogOutClick()">
        {{ loggedInUser == null ? 'LOGIN' : 'LOGOUT' }}
      </a>

    </nav>
  </div>
</mat-drawer>
