<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <div class="div-logo">
      <img class="img-logo" [src]="appConfig.getAppLogo()"/>
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onHome()">
      <mat-card-content>
        <p>Home</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <div *ngIf="productData" class="product-detail-content-area">
      <div class="product-images-container">
        <img [src]="productData.image1" class="detail-product-image"/>
        <img [src]="productData.image2" class="detail-product-image"/>
        <img [src]="productData.image3" class="detail-product-image"/>
        <img [src]="productData.image4" class="detail-product-image"/>
      </div>

      <div class="product-info-actions-container">
        <mat-card class="card-item">
          <mat-card-content>
            <p class="p-title">{{ productData.name | titlecase}} </p>
            <p class="p-description">Description: {{ productData.description }}</p>
            <p>Product Type: {{ productData.productType | titlecase }}</p>
            <p>Price:<span class="p-price">{{ productData.price }} €</span></p>
            <button mat-raised-button class="btn-save" (click)="onBuy()">Buy now!</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-drawer-container>
