<div class="div-container">
  <h1 class="account-title">MY ACCOUNT</h1>

  <div class="auth-tabs-container">
    <button
      class="auth-tab"
      [class.active]="viewType === 'login'"
      (click)="onViewTypeChange('login')"
    >
      SIGN IN
    </button>
    <button
      class="auth-tab"
      [class.active]="viewType === 'register'"
      (click)="onViewTypeChange('register')"
    >
      REGISTER
    </button>
  </div>

  <div [ngSwitch]="viewType">
    <mat-card class="card-container" *ngSwitchCase="'login'" id="login-card">
      <mat-card-content *ngIf="loginForm" [formGroup]="loginForm">
        <p class="welcome-text">WELCOME BACK.</p>
        <p class="welcome-subtext">Sign in with your email and password.</p>

        <div class="div-input-field">
          <mat-form-field appearance="fill" class="input-field-form login-input-field">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required
              id="login-email-input"
            />
            <mat-error *ngIf="loginForm.controls['email'].invalid">{{
                getErrorMessage(loginForm.controls["email"])
              }}</mat-error>
          </mat-form-field>
        </div>
        <div class="div-input-field">
          <mat-form-field appearance="fill" class="input-field-form login-input-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              required
              id="login-password-input"
            />
            <mat-error *ngIf="loginForm.controls['password'].invalid">{{
                getErrorMessage(loginForm.controls["password"])
              }}</mat-error>
          </mat-form-field>
        </div>

        <div class="div-buttons-container">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!loginForm.valid"
            (click)="onLogIn()"
            id="login-button"
          >
            SIGN IN
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="card-container"
      *ngSwitchCase="'register'"
      id="register-card"
    >
      <mat-card-content *ngIf="registerForm" [formGroup]="registerForm">
        <p class="welcome-text">CREATE ACCOUNT.</p>
        <p class="welcome-subtext">Register with your details.</p>

        <div class="div-input-field">
          <mat-form-field appearance="fill" class="input-field-form register-input-field">
            <mat-label>Username</mat-label>
            <input
              matInput
              formControlName="username"
              required
              id="register-username-input"
            />
            <mat-error *ngIf="registerForm.controls['username'].invalid">{{
                getErrorMessage(registerForm.controls["username"])
              }}</mat-error>
          </mat-form-field>
        </div>
        <div class="div-input-field">
          <mat-form-field appearance="fill" class="input-field-form register-input-field">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required
              id="register-email-input"
            />
            <mat-error *ngIf="registerForm.controls['email'].invalid">{{
                getErrorMessage(registerForm.controls["email"])
              }}</mat-error>
          </mat-form-field>
        </div>
        <div class="div-input-field">
          <mat-form-field appearance="fill" class="input-field-form register-input-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              required
              id="register-password-input"
            />
            <mat-error *ngIf="registerForm.controls['password'].invalid">{{
                getErrorMessage(registerForm.controls["password"])
              }}</mat-error>
          </mat-form-field>
        </div>
        <div class="div-input-field">
          <mat-form-field appearance="fill" class="input-field-form register-input-field">
            <mat-label>Re-type Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="reTypePassword"
              required
              id="register-retype-password-input"
            />
            <mat-error *ngIf="registerForm.controls['reTypePassword'].invalid">{{
                getErrorMessage(registerForm.controls["reTypePassword"])
              }}</mat-error>
          </mat-form-field>
        </div>
        <div class="div-buttons-container">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!registerForm.valid"
            (click)="onRegister()"
            id="register-button"
          >
            CREATE USER
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
