<div class="page-view">
  <mat-card *ngFor="let product of products" class="product-card-display">
    <img mat-card-image [src]="product.image1" alt="{{ product.name }}" class="product-image"/>

    <mat-card-content class="product-content-area">
      <div class="product-text-details">
        <p class="product-title-text">{{ product.name | titlecase}} </p>
        <p class="product-description-text">Description: {{ product.description }}</p>
        <p class="product-info-text">Product Type: {{ product.productType | titlecase }}</p>
        <p class="product-info-text">Price:<span class="product-price-value">{{ product.price }} RON</span></p>
      </div>

      <div class="product-actions-wrapper">
        <div *ngIf="isAdmin && loggedInUser" class="admin-actions-container">
          <button mat-raised-button class="btn-action" (click)="onEdit(product)">Edit</button>
          <div style="height: 16px"></div>
          <button mat-raised-button class="btn-action" (click)="onDelete(product)">Delete</button>
        </div>

        <div *ngIf="!isAdmin && loggedInUser" class="buy-action-container">
          <button mat-raised-button class="btn-buy-now" (click)="onBuy(product)">Buy now!</button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
